/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

body {

	background-color: rgb(46, 46, 46);
	padding:10px; 
}

video {
	width: 72px;
	height: 128px;
	margin: 0 -2px 10px 0;
/*	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	opacity: 0.7;*/
}


#wrapper {
	margin: 0 auto;
	width: 910px;
	height: 326px;
	background-color: rgb(34, 34, 34);
	border-radius: 10px;
	top: 78px;
	position: relative;
	box-shadow: inset 0px 0px 20px 0px #000;
}

#intro {
	width: 100%;
	float: left;
	text-align: center;
}

#intro h1 {
	font: bold 44px/75px 'Yesteryear', cursive;
	color: #fff;
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.56);
}

#intro p {
	font: 16px/24px Helvetica,Arial,sans-serif;
	margin-bottom: 28px;
	color: #999;
}

.white {
	width: 100%;
	top: 141px;
	position: absolute;
}

.white > div {
	height: 250px;
	margin-top: -140px;
}

.white video {
	margin-top: 130px;
}

.black {
	width: 986px;
	top: 0px;
	position: absolute;
	height: 141px;
}

#c {
	left: 0px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#d {
	left: 76px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#e {
	left: 152px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#f {
	left: 228px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#g {
	left: 304px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#a {
	left: 380px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#b {
	left: 456px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#c2 {
	left: 532px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#d2 {
	left: 608px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#e2 {
	left: 684px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#f2 {
	left: 760px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#g2 {
	left: 836px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#a2 {
	left: 912px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid rgb(236, 236, 236);
	box-shadow: 0px 10px 0px 0px rgb(182, 182, 182);
	width: 72px;
}

#csharp {
	left: 39px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#dsharp {
	left: 115px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#fsharp {
	left: 267px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#gsharp {
	left: 343px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#asharp {
	left: 419px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#c2sharp {
	left: 569px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#d2sharp {
	left: 645px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#f2sharp {
	left: 798px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#g2sharp {
	left: 874px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}

#a2sharp {
	left: 950px;
	position: absolute;
	border-radius: 0px 0px 20px 20px;
	background-color: #333;
	box-shadow: #000;
	box-shadow: 0px 10px 0px 0px rgb(0, 0, 0);
	border: 1px solid rgb(63, 63, 63);
	width: 72px;
}



video {
	/*background-color: #000;*/
	opacity: 0.3;
}

.active video {
	/*background-color: #000;*/
	opacity: 1;
}

.black video {
}

h2 {
	font: 16px/24px Helvetica,Arial,sans-serif;
	color: rgb(177, 177, 177);
	position: absolute;
	bottom: 12px;
	right: 130px;
}

#reverb.active, #overdrive.active, #convolution.active {
	background: -webkit-linear-gradient(top, rgba(114, 114, 114, 1) 0%,rgba(213, 213, 213, 1) 100%);
}

#reverb, #overdrive, #convolution {
	height: 30px;
	width: 30px;
	background-color: #aaa;
	position: absolute;
	bottom: 10px;
	border-radius: 15px;
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(155, 155, 155, 1) 100%);
	box-shadow: 0px 0px 5px 0px #000;
}

#reverb {
	right: 90px;

}
#overdrive {
	right: 50px;

}
#convolution {
	right: 10px;

}
/*#convolution {
height: 30px;
width: 30px;
background-color: #aaa;
position: absolute;
bottom: 10px;
right: 10px;
border-radius: 15px;
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(155, 155, 155, 1) 100%);
box-shadow: 0px 0px 5px 0px #000;
}
*/
#comma {
	font: bold 36px/8px Helvetica,Arial,sans-serif;
	padding: 0px 0px 9px 10px;
	text-shadow: 0px 1px 0px #fff;
}

#dot {
	font: bold 36px/12px Helvetica,Arial,sans-serif;
	padding: 0px 0px 9px 10px;
	text-shadow: 0px 1px 0px #fff;
}

#slash {
	font: bold 26px/8px Helvetica,Arial,sans-serif;
	padding: 11px 1px 9px 11px;
	text-shadow: 0px 1px 0px #fff;
}

footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid rgb(27, 27, 27);
	width: 100%;
	height: 30px;
	left: 0;
	text-align: center;
	padding-top: 20px;
	background-color: rgb(29, 29, 29);
}

#wmas {
	font: bold 18px/18px "Bebas Neue",Arial,sans-serif;
	color: #aaa;
	text-decoration: none;
}

#wmas:hover {
	color: #eee;
}

